page-home {
   
    ion-title{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        ;
        font-size: larger;
    }
    ion-card-header{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   
}
